<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | MamaFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- MamaFood -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/style/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/style/css/animate.css" />

    <link rel="stylesheet" href="~/style/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/style/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/style/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/style/css/aos.css" />

    <link rel="stylesheet" href="~/style/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/style/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/style/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="~/style/css/flaticon.css" />
    <link rel="stylesheet" href="~/style/css/icomoon.css" />
    <link rel="stylesheet" href="~/style/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/MamaFood-fulllogo.png" width="150" height="75" /></a>
                <div style="float: right;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 | <a asp-area="" asp-controller="Home" asp-action="About">MamaFood</a>
            </div>
        </footer>*@

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Mama Food</h2>
                        <p>Good food within minutes</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://twitter.com/arhlooooo"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/arhlooooo"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/mamafoooooood/"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a asp-action="Index" asp-controller="Home" class="py-2 d-block">Home</a></li>
                            <li><a asp-action="Menu" asp-controller="Foods" class="py-2 d-block">Menu</a></li>
                            <li><a asp-action="About" asp-controller="Home" class="py-2 d-block">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Jalan Yaacob Latif, Cheras, 56000 Kuala Lumpur, Federal Territory of Kuala Lumpur</span></li>
                                <li><a href="tel://077644998"><span class="icon icon-phone"></span><span class="text">+607 764 4998</span></a></li>
                                <li><a href="mailto:mamafood1119@gmail.com"><span class="icon icon-envelope"></span><span class="text">mamafood1119@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | Mama Food <i class="icon-heart color-danger" aria-hidden="true"></i> by House Mama.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/style/js/jquery.min.js"></script>
    <script src="~/style/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/style/js/popper.min.js"></script>
    <script src="~/style/js/bootstrap.min.js"></script>
    <script src="~/style/js/jquery.easing.1.3.js"></script>
    <script src="~/style/js/jquery.waypoints.min.js"></script>
    <script src="~/style/js/jquery.stellar.min.js"></script>
    <script src="~/style/js/owl.carousel.min.js"></script>
    <script src="~/style/js/jquery.magnific-popup.min.js"></script>
    <script src="~/style/js/aos.js"></script>
    <script src="~/style/js/jquery.animateNumber.min.js"></script>
    <script src="~/style/js/bootstrap-datepicker.js"></script>
    <script src="~/style/js/scrollax.min.js"></script>
    <script src="~/style/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
