@model List<OrderFoodViewModel>
@{
    ViewData["Title"] = "My Cart";
}
<h1>Cart [@Model.Count]</h1>

<table class="table">
    <tr>
        <th>Food Image</th>
        <th>Food Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
    </tr>

@foreach (var displayItem in Model)
{
    <tr>
        <td><img src=@displayItem.FoodModel.FoodImage alt=@displayItem.FoodModel.FoodName width="180px" height="150px" /></td>
        <td>@displayItem.FoodModel.FoodName</td>
        <td>RM @string.Format("{0:0.00}", displayItem.OrderItemModel.UnitPrice)</td>
        <td>@displayItem.OrderItemModel.Quantity</td>
    </tr>
}
</table>