@model MamaFood.Models.Food

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('../../img/6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Add Food</span></p>
                <h1 class="mb-0 bread">Add New Foods</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="bg-white p-5 contact-form">
        <div>
            <a asp-action="Index" class="btn btn-primary py-3 px-4"><span class="ion-ios-arrow-back"></span>&nbsp;&nbsp;Back to List</a>
        </div>
        <h2 class="mb-4" style="text-align: center;">Add New Food</h2>
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="form-control" type="file" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FoodName" class="control-label"></label>
                            <input asp-for="FoodName" class="form-control" />
                            <span asp-validation-for="FoodName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FoodType" class="control-label"></label>
                            <input asp-for="FoodType" class="form-control" />
                            <span asp-validation-for="FoodType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <center><input type="submit" value="Add Food" class="btn btn-primary py-3 px-4" /></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
